$PrimaryColor: #111111;
$SecondColor: #E3B27D;
$ThirdColor: #FFFFFF;
$ForthColor: #222222;
$FifthColor: #888888;
$SixthColor: #181818;
$TextColor3: #AAAAAA;

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    max-width: 100%;

    button {
        background-color: transparent;
        border: none;
        color: $ThirdColor;
        cursor: pointer;
    }
}

@mixin inline($align) {
    display: flex;
    align-items: $align;
}

@mixin spaceCenter($align) {
    display: flex;
    align-items: $align;
    justify-content: center;
}

@mixin spaceCenter($align) {
    display: flex;
    align-items: $align;
    justify-content: center;
}

@mixin spaceAround($align) {
    display: flex;
    align-items: $align;
    justify-content: space-around;
}

@mixin spaceBetween($align) {
    display: flex;
    align-items: $align;
    justify-content: space-between;
}

@mixin spaceEvenly($align) {
    display: flex;
    align-items: $align;
    justify-content: space-evenly;
}

@mixin column() {
    flex-direction: column;
}



header {
    width: 100vw;
    height: 10vh;
    background-color: $PrimaryColor;
    position: fixed;
    z-index: 3;

    nav {
        height: 100%;
        @include spaceCenter(center);
        padding: 0% 5%;

        .mobile,
        .mobileOption,
        .dropdown-menu {
            display: none;
        }

        div {
            width: 100%;
            @include spaceBetween(center);

            ul {
                @include spaceBetween(center);
                list-style: none;
                gap: 10px;

                li {
                    a {
                        @include spaceCenter(center);
                        gap: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        color: $ThirdColor;
                        text-decoration: none;
                        transition: 0.2s;
                        cursor: pointer;

                        i {
                            @include spaceCenter(center);
                            transition: 0.5s;
                        }

                        &:hover {
                            color: $SecondColor;
                            fill: $SecondColor;
                        }

                        &.selected {
                            color: $SecondColor;
                            fill: $SecondColor;

                            i {
                                transform: rotate(180deg);
                            }
                        }
                    }

                }

                ul.dropdown-menu.open {
                    width: 30%;
                    display: flex;
                    position: absolute;
                    @include column();
                    top: 80%;
                    text-align: center;
                    background-color: $PrimaryColor;
                    border-left: 3px solid $SecondColor;
                    border-radius: 2px;

                    li {
                        min-width: 200px;
                        width: 90%;
                        padding: 2% 0% 2% 4px;
                        font-size: 14px;
                        color: $ThirdColor;
                        margin-bottom: 2px solid $FifthColor;
                        text-align: left;
                    }
                }

                div.navMenu {
                    width: 100%;
                    @include spaceCenter(center);
                    @include column();

                    ul.dropdown-menu {
                        display: none;
                    }

                }

            }

            ul.navOptions {
                @include spaceBetween(center);

                li {
                    @include spaceCenter(center);
                    width: 45px;
                    height: 45px;

                    a {
                        width: 100%;
                        height: 100%;

                        &.hamburguer {
                            background-color: $FifthColor;
                            border-radius: 50%;
                        }
                    }

                }
            }
        }
    }
}

main {
    padding-top: 10vh;
}

.bg {
    padding: 6% 5%;
    height: fit-content;
    color: $ThirdColor;
    position: relative;

    &.bg-color1 {
        background-color: $PrimaryColor;
    }

    &.bg-color2 {
        background-color: $SixthColor;
    }

    &.bg-color3 {
        background-color: $ForthColor;
    }

    &.main {
        padding-top: 0;
    }
}

section {
    .HomeContent {
        @include spaceBetween(top);
        font-weight: 500;

        .homeText {
            max-width: 100%;

            h1 {
                font-size: 90px;
                line-height: 135%;
            }

            p {
                width: 470px;
                font-size: 20px;
                line-height: 140%;
            }

            .scroll {
                margin-top: 43px;
                transform: rotate(270deg);
                height: 93px;
                @include spaceCenter(center);
                gap: 5px;

                i {
                    transform: rotate(90deg);
                }
            }
        }

        .homeImage {
            img {
                max-width: 100%;
                width: 50%;
            }
        }
    }

    .logoPartners {
        @include spaceCenter(center);
        margin-top: 90px;
        flex-wrap: wrap;
        gap: 73px;
    }

    .headerSection {
        @include spaceBetween(center);
        padding-top: 5%;
        margin-bottom: 38px;
        position: relative;

        .sectionTitle {
            width: 70%;

            h2 {
                color: $FifthColor;
                letter-spacing: 0.15em;
            }

            p.title {
                color: $ThirdColor;
                font-weight: 600;
                font-size: 30px;
                line-height: 135%;
            }
        }

        .rightContent {
            width: 60%;
            position: relative;

            p {
                font-weight: 500;
                line-height: 144%;
                color: $TextColor3;
                margin-bottom: 29px;
            }

            .ball {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #333333;
                position: absolute;
                z-index: 0;
            }

            button {
                margin-top: 18px;
                position: relative;
                padding-left: 23px;
                z-index: 2;
            }
        }
    }

    .contentBetween {
        @include spaceBetween(top);
        padding-bottom: 100px;

        .contentText {
            width: 30%;
            color: $TextColor3;
            font-size: 16px;
            font-weight: 500;
            line-height: 140%;
        }
    }

    .contentCenter {
        @include spaceCenter(center);
        position: relative;

        div.agenceInfo {
            @include spaceCenter(center);
            gap: 80px;
            width: 30%;
            background-color: #333333;
            height: 200px;
            text-align: center;

            position: absolute;
            bottom: 20%;
            left: 40%;

            h3 {
                font-size: 40px;
            }

            p {
                color: $TextColor3;
                font-size: 16px;
            }
        }

        &.ourWork {
            gap: 20px;
            flex-wrap: wrap;

            div {
                position: relative;
                width: 30%;
                max-width: 100%;
                min-width: 288px;

                img {
                    position: absolute;
                    left: 5%;
                }

                h2 {
                    position: relative;
                    z-index: 2;
                    text-align: center;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 135%;
                    margin-bottom: 21px;
                    color: #000;
                    color: rgba(0, 0, 0, 1);
                    text-shadow: 1.5px 0 $ThirdColor, -1.5px 0 $ThirdColor, 0 -1.5px $ThirdColor, 1.5px 1.5px $ThirdColor, 1.5px 0 $ThirdColor, -0.75px 0 $ThirdColor, 0 0.75px $ThirdColor, 0.75px 0.75px $ThirdColor;

                    span {
                        font-weight: 600;
                        font-size: 50px;
                        line-height: 135%;
                        text-shadow: none;
                        color: $ThirdColor;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    color: $TextColor3;
                }

                ul {
                    margin-top: 10px;
                    padding-left: 20px;
                }
            }
        }
    }

    .portfolio {
        div.portfolioDivision {
            @include spaceBetween(top);
            margin-bottom: 35px;
            padding-bottom: 38px;
            height: fit-content;
            min-height: max-content;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            div {
                width: 100%;
                max-width: 100%;
                p {
                    font-weight: 500;
                    line-height: 135%;
                    color: $TextColor3;
                    position: relative;
                }

                h3 {
                    height: fit-content;
                    padding-left: 3%;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 135%;
                }
            }

            img {
                margin: auto;
                width: 30px;
                height: 35px;
            }
        }
    }

    .ourTeam {
        @include spaceBetween(center);

        img {
            max-width: 100%;
        }

        p {
            color: $FifthColor;
            font-weight: 500;
        }
    }

    .feedbackContent {
        width: 100%;
        @include spaceCenter(center);

        .customerFeedback {
            .customerComment {
                border-left: 4px solid $SecondColor;
                padding-left: 29px;
                border-radius: 2px;
                font-style: italic;
                font-weight: 500;
                font-size: 24px;
                line-height: 160%;
                margin-bottom: 28px;
                ;
            }

            .customerInfo {
                @include spaceBetween(center);
                padding-right: 20%;
                gap: 20px;

                p {
                    color: $SecondColor;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }

    }

    .updatesblog {
        margin-top: 57px;
        @include spaceBetween(center);
        flex-wrap: wrap;
        gap: 76px 76px;

        .post {
            max-width: 100%;
            width: 420px;
            min-height: 129px;
            height: fit-content;

            div {
                @include inline(center);
                gap: 8px;

                .theme {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 140%;
                    color: $FifthColor;
                    width: 75px;
                    border-right: 1px solid $FifthColor;
                }

                .time {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 140%;
                    color: $FifthColor;
                    color: $SecondColor;
                }
            }

            .title {
                max-width: 100%;
                margin-top: 17px;
                font-weight: 600;
                font-size: 35px;
                line-height: 135%;
            }
        }
    }

    .contactUs {
        width: 100%;
        height: 500px;
        position: relative;
        padding-bottom: 10%;
        img {
            width: 100%;
            height: auto;
            position: relative;
            left: 5.55%;
        }

        div {
            width: 80%;
            height: 370px;
            @include spaceBetween(center);
            padding: 0% 10%;
            background-color: $ForthColor;
            position: relative;
            bottom: 45%;
            right: 5.55%;

            h2 {
                width: 70%;
            }

            h2,
            span {
                font-weight: 600;
                font-size: 60px;
                line-height: 135%;

                span {
                    color: $SecondColor;
                }
            }

            button {
                width: 250px;
                height: 250px;
                background-color: $SecondColor;
                border-radius: 50%;
                @include spaceCenter(center);
                @include column();

                img {
                    margin: 0 auto;
                    width: 16px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

footer {
    .bg {
        padding-bottom: 0;
    }

    .footerContent {
        @include spaceBetween(top);
        padding: 0% 2% 5% 2%;

        p {
            width: 30%;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            color: $TextColor3;
        }

        .links {
            margin-top: 32px;

            ul {
                list-style: none;
                font-weight: 500;
                font-size: 15px;
                line-height: 182.5%;
                color: $TextColor3;
            }

            @include spaceCenter(top);
            gap: 10px;
        }

        button {
            max-width: 100%;
            margin-top: 30px;
            width: 150px;
            height: 40px;
            background-color: $SecondColor;
            @include spaceCenter(center);
            font-size: 13px;
            gap: 10px;

            i {
                width: 12px;

                img {
                    width: 12px;
                }
            }
        }
    }

    .footerBottom {
        height: 10vh;
        @include spaceBetween(center);
        color: $TextColor3;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;

        div {
            @include spaceBetween(center);
            gap: 10px;
        }
    }
}

@media (max-width:768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex !important;
        @include spaceBetween(center);
    }

    .mobileOption {
        width: 100vw;
        @include spaceCenter(start);
        position: fixed;
        top: 10vh;
        height: 90vh;
        background-color: $ForthColor;

        &.open {
            display: flex;
        }

        ul {
            width: 100%;
            @include column();
            gap: 0;

            div.navMenu {
                li {
                    border-bottom: 2px solid $PrimaryColor;
                    background-color: $ForthColor;
                    width: 100%;
                    padding: 2% 0;
                }

                ul.dropdown-menu.open {
                    display: flex;
                    width: 100%;
                    position: static;
                    border-left: none;

                    li {
                        @include spaceCenter(center);
                        height: 50px;
                        width: 100%;
                        padding: 0%;
                        background-color: $FifthColor;
                    }
                }
            }
        }
    }

    .HomeContent {
        flex-wrap: wrap !important;
    }

    .contentBetween {
        flex-wrap: wrap-reverse;

        img {
            width: 100%;
        }

        div.contentText {
            width: 100%;
        }
    }

    div.contentCenter {
        position: relative;
    }
    .contactUs {
        height: auto !important;
        img{
            position: static !important;
        }
        div {
            position: static !important;
            height: 200px !important;
            h2,
            span {
                font-size: 20px !important;
            }
            .contactButton{
                width: 100px;
                height: 100px;
            }
        }
    }
    .contentCenter {
        div.agenceInfo {
            width: 350px !important;
            position: static !important;
        }
    }
    footer {
        .footerContent {
            padding: 0%;
            gap: 20px;
            padding-bottom: 20px;

            .leftFooter {
                width: 40%;

                p {
                    width: 100%;
                    font-size: 13px;
                }
            }

            .rightFooter {
                ul {
                    li {
                        font-size: 13px;
                    }
                }
            }
        }
    }

}

@media (max-width:425px) {
    .homeText {
        h1 {
            max-width: 100%;
            font-size: 70px !important;
        }
    }

    .headerSection {
        @include spaceCenter(top);
        flex-wrap: wrap;

        .sectionTitle {
            width: 100% !important;

            p.title {
                width: 100%;
            }
        }

        .rightContent {
            width: 100% !important;
        }
    }

    .ourTeam {
        flex-wrap: wrap;
        gap: 30px;
    }

    .feedbackContent {
        flex-wrap: wrap;

        .customerFeedback {
            @include spaceCenter(center);
            flex-direction: column-reverse;
            width: 100%;

            img {
                width: 95%;
                padding: 2% 0%;
            }

            .customerInfo {
                padding: 0% !important;

                .customerImg {
                    width: 100px;
                }

                img {
                    width: 30px;
                }
            }
        }
    }
    .portfolio{
        .portfolioDivision{
            div{
                width: 75% !important;
                h3{
                    font-size: 40px !important;
                }
            }
        }
    }
    .contentBetween {
        padding-bottom: 0% !important;
    }

    


}