* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
* button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: #111111;
  position: fixed;
  z-index: 3;
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 5%;
}
header nav .mobile,
header nav .mobileOption,
header nav .dropdown-menu {
  display: none;
}
header nav div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav div ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
}
header nav div ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}
header nav div ul li a i {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
header nav div ul li a:hover {
  color: #E3B27D;
  fill: #E3B27D;
}
header nav div ul li a.selected {
  color: #E3B27D;
  fill: #E3B27D;
}
header nav div ul li a.selected i {
  transform: rotate(180deg);
}
header nav div ul ul.dropdown-menu.open {
  width: 30%;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 80%;
  text-align: center;
  background-color: #111111;
  border-left: 3px solid #E3B27D;
  border-radius: 2px;
}
header nav div ul ul.dropdown-menu.open li {
  min-width: 200px;
  width: 90%;
  padding: 2% 0% 2% 4px;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 2px solid #888888;
  text-align: left;
}
header nav div ul div.navMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header nav div ul div.navMenu ul.dropdown-menu {
  display: none;
}
header nav div ul.navOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav div ul.navOptions li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}
header nav div ul.navOptions li a {
  width: 100%;
  height: 100%;
}
header nav div ul.navOptions li a.hamburguer {
  background-color: #888888;
  border-radius: 50%;
}
@media (max-width: 768px) {
  header nav .desktop {
    display: none;
  }
  header nav .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header nav .mobileOption {
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    display: none;
    position: fixed;
    top: 10vh;
    height: 90vh;
    background-color: #222222;
  }
  header nav .mobileOption.open {
    display: flex;
  }
  header nav .mobileOption ul {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  header nav .mobileOption ul div.navMenu li {
    border-bottom: 2px solid #111111;
    background-color: #222222;
    width: 100%;
    padding: 2% 0;
  }
  header nav .mobileOption ul div.navMenu ul.dropdown-menu.open {
    display: flex;
    width: 100%;
    position: static;
    border-left: none;
  }
  header nav .mobileOption ul div.navMenu ul.dropdown-menu.open li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    padding: 0%;
    background-color: #888888;
  }
}

main {
  padding-top: 10vh;
}

.bg {
  padding: 6% 5%;
  color: #FFFFFF;
  position: relative;
}
.bg.bg-color1 {
  background-color: #111111;
}
.bg.bg-color2 {
  background-color: #181818;
}
.bg.bg-color3 {
  background-color: #222222;
}
.bg.main {
  padding-top: 0;
}

section .HomeContent {
  display: flex;
  align-items: top;
  justify-content: space-between;
  font-weight: 500;
}
section .HomeContent h1 {
  font-size: 90px;
  line-height: 135%;
}
section .HomeContent p {
  max-width: 100%;
  width: 470px;
  font-size: 20px;
  line-height: 140%;
}
section .HomeContent .homeText {
  width: 40%;
}
section .HomeContent .homeText .scroll {
  margin-top: 43px;
  transform: rotate(270deg);
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
section .HomeContent .homeText .scroll i {
  transform: rotate(90deg);
}
section .HomeContent div {
  width: 60%;
}
section .HomeContent div img {
  width: 90%;
}
section .logoPartners {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  flex-wrap: wrap;
  gap: 73px;
}
section .headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  margin-bottom: 38px;
  position: relative;
}
section .headerSection .sectionTitle {
  width: 70%;
}
section .headerSection .sectionTitle h2 {
  color: #888888;
  letter-spacing: 0.15em;
}
section .headerSection .sectionTitle p.title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 30px;
  line-height: 135%;
  max-width: 70%;
}
section .headerSection .rightContent {
  width: 60%;
  position: relative;
}
section .headerSection .rightContent p {
  font-weight: 500;
  line-height: 144%;
  color: #AAAAAA;
  margin-bottom: 29px;
}
section .headerSection .rightContent .ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #333333;
  position: absolute;
  z-index: 0;
}
section .headerSection .rightContent button {
  margin-top: 18px;
  position: relative;
  padding-left: 23px;
  z-index: 2;
}
section .contentBetween {
  display: flex;
  align-items: top;
  justify-content: space-between;
}
section .contentBetween .contentText {
  width: 30%;
  color: #AAAAAA;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
section .contentCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section .contentCenter.agenceInfo {
  gap: 80px;
  width: 30%;
  background-color: #333333;
  height: 200px;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 45%;
}
section .contentCenter.agenceInfo h3 {
  font-size: 40px;
}
section .contentCenter.agenceInfo p {
  color: #AAAAAA;
  font-size: 16px;
}
section .contentCenter.ourWork {
  gap: 20px;
}
section .contentCenter.ourWork div {
  position: relative;
  width: 30%;
}
section .contentCenter.ourWork div img {
  position: absolute;
  left: 5%;
}
section .contentCenter.ourWork div h2 {
  position: relative;
  z-index: 2;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  line-height: 135%;
  margin-bottom: 21px;
  color: #000;
  color: rgb(0, 0, 0);
  text-shadow: 1.5px 0 #FFFFFF, -1.5px 0 #FFFFFF, 0 -1.5px #FFFFFF, 1.5px 1.5px #FFFFFF, 1.5px 0 #FFFFFF, -0.75px 0 #FFFFFF, 0 0.75px #FFFFFF, 0.75px 0.75px #FFFFFF;
}
section .contentCenter.ourWork div h2 span {
  font-weight: 600;
  font-size: 50px;
  line-height: 135%;
  text-shadow: none;
  color: #FFFFFF;
}
section .contentCenter.ourWork div p {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #AAAAAA;
}
section .contentCenter.ourWork div ul {
  margin-top: 10px;
  padding-left: 20px;
}
section .portfolio div.portfolioDivision {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 35px;
  height: 110px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
section .portfolio div.portfolioDivision div {
  width: 100%;
}
section .portfolio div.portfolioDivision div p {
  font-weight: 500;
  line-height: 135%;
  color: #AAAAAA;
  position: relative;
}
section .portfolio div.portfolioDivision div h3 {
  padding-left: 3%;
  font-weight: 600;
  font-size: 50px;
  line-height: 135%;
}
section .portfolio div.portfolioDivision img {
  margin: auto;
  width: 30px;
  height: 35px;
}
section .ourTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .ourTeam p {
  color: #888888;
  font-weight: 500;
}
section .feedbackContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .feedbackContent .customerFeedback .customerComment {
  border-left: 4px solid #E3B27D;
  padding-left: 29px;
  border-radius: 2px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 28px;
}
section .feedbackContent .customerFeedback .customerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20%;
  gap: 20px;
}
section .feedbackContent .customerFeedback .customerInfo p {
  color: #E3B27D;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}
section .updatesblog {
  margin-top: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 76px 76px;
}
section .updatesblog .post {
  width: 42%;
  height: 129px;
}
section .updatesblog .post div {
  display: flex;
  align-items: center;
  gap: 8px;
}
section .updatesblog .post div .theme {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #888888;
  width: 75px;
  border-right: 1px solid #888888;
}
section .updatesblog .post div .time {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #888888;
  color: #E3B27D;
}
section .updatesblog .post .title {
  margin-top: 17px;
  font-weight: 600;
  font-size: 35px;
  line-height: 135%;
}
section .contactUs {
  width: 100%;
  height: 500px;
  position: relative;
}
section .contactUs img {
  width: 100%;
  position: relative;
  left: 5.55%;
}
section .contactUs div {
  width: 80%;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 10%;
  background-color: #222222;
  position: relative;
  bottom: 45%;
  right: 5.55%;
}
section .contactUs div h2 {
  width: 70%;
}
section .contactUs div h2, section .contactUs div span {
  font-weight: 600;
  font-size: 60px;
  line-height: 135%;
}
section .contactUs div h2 span, section .contactUs div span span {
  color: #E3B27D;
}
section .contactUs div button {
  width: 250px;
  height: 250px;
  background-color: #E3B27D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section .contactUs div button img {
  margin: 0 auto;
  width: 16px;
  transform: rotate(-45deg);
}

footer .bg {
  padding-bottom: 0;
}
footer .footerContent {
  display: flex;
  align-items: top;
  justify-content: space-between;
  padding: 0% 2% 5% 2%;
}
footer .footerContent p {
  width: 30%;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #AAAAAA;
}
footer .footerContent .links {
  margin-top: 32px;
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 10px;
}
footer .footerContent .links ul {
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 182.5%;
  color: #AAAAAA;
}
footer .footerContent button {
  margin-top: 30px;
  width: 150px;
  height: 40px;
  background-color: #E3B27D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  gap: 10px;
}
footer .footerContent button i {
  width: 12px;
}
footer .footerContent button i img {
  width: 12px;
}
footer .footerBottom {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #AAAAAA;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
}
footer .footerBottom div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */