$PrimaryColor: #111111;
$SecondColor: #E3B27D;
$ThirdColor: #FFFFFF;
$ForthColor: #222222;
$FifthColor: #888888;
$SixthColor: #181818;
$TextColor3: #AAAAAA;

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    button {
        background-color: transparent;
        border: none;
        color: $ThirdColor;
        cursor: pointer;
    }
}

@mixin inline($align) {
    display: flex;
    align-items: $align;
}

@mixin spaceCenter($align) {
    display: flex;
    align-items: $align;
    justify-content: center;
}

@mixin spaceCenter($align) {
    display: flex;
    align-items: $align;
    justify-content: center;
}

@mixin spaceAround($align) {
    display: flex;
    align-items: $align;
    justify-content: space-around;
}

@mixin spaceBetween($align) {
    display: flex;
    align-items: $align;
    justify-content: space-between;
}

@mixin spaceEvenly($align) {
    display: flex;
    align-items: $align;
    justify-content: space-evenly;
}

@mixin column() {
    flex-direction: column;
}



header {
    width: 100vw;
    height: 10vh;
    background-color: $PrimaryColor;
    position: fixed;
    z-index: 3;

    nav {
        height: 100%;
        @include spaceCenter(center);
        padding: 0% 5%;

        .mobile,
        .mobileOption,
        .dropdown-menu {
            display: none;
        }

        div {
            width: 100%;
            @include spaceBetween(center);

            ul {
                @include spaceBetween(center);
                list-style: none;
                gap: 10px;

                li {
                    a {
                        @include spaceCenter(center);
                        gap: 5px;
                        font-size: 16px;
                        font-weight: 500;
                        color: $ThirdColor;
                        text-decoration: none;
                        transition: 0.2s;
                        cursor: pointer;

                        i {
                            @include spaceCenter(center);
                            transition: 0.5s;
                        }

                        &:hover {
                            color: $SecondColor;
                            fill: $SecondColor;
                        }

                        &.selected {
                            color: $SecondColor;
                            fill: $SecondColor;

                            i {
                                transform: rotate(180deg);
                            }
                        }
                    }

                }

                ul.dropdown-menu.open {
                    width: 30%;
                    display: flex;
                    position: absolute;
                    @include column();
                    top: 80%;
                    text-align: center;
                    background-color: $PrimaryColor;
                    border-left: 3px solid $SecondColor;
                    border-radius: 2px;

                    li {
                        min-width: 200px;
                        width: 90%;
                        padding: 2% 0% 2% 4px;
                        font-size: 14px;
                        color: $ThirdColor;
                        margin-bottom: 2px solid $FifthColor;
                        text-align: left;
                    }
                }

                div.navMenu {
                    width: 100%;
                    @include spaceCenter(center);
                    @include column();

                    ul.dropdown-menu {
                        display: none;
                    }

                }

            }

            ul.navOptions {
                @include spaceBetween(center);

                li {
                    @include spaceCenter(center);
                    width: 45px;
                    height: 45px;

                    a {
                        width: 100%;
                        height: 100%;

                        &.hamburguer {
                            background-color: $FifthColor;
                            border-radius: 50%;
                        }
                    }

                }
            }
        }

        @media (max-width:768px) {
            .desktop {
                display: none;
            }

            .mobile {
                @include spaceBetween(center);
            }

            .mobileOption {
                width: 100vw;
                @include spaceCenter(start);
                display: none;
                position: fixed;
                top: 10vh;
                height: 90vh;
                background-color: $ForthColor;

                &.open {
                    display: flex;
                }

                ul {
                    width: 100%;
                    @include column();
                    gap: 0;

                    div.navMenu {
                        li {
                            border-bottom: 2px solid $PrimaryColor;
                            background-color: $ForthColor;
                            width: 100%;
                            padding: 2% 0;
                        }

                        ul.dropdown-menu.open {
                            display: flex;
                            width: 100%;
                            position: static;
                            border-left: none;

                            li {
                                @include spaceCenter(center);
                                height: 50px;
                                width: 100%;
                                padding: 0%;
                                background-color: $FifthColor;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    padding-top: 10vh;
}

.bg {
    padding: 6% 5%;
    color: $ThirdColor;
    position: relative;

    &.bg-color1 {
        background-color: $PrimaryColor;
    }

    &.bg-color2 {
        background-color: $SixthColor;
    }

    &.bg-color3 {
        background-color: $ForthColor;
    }

    &.main {
        padding-top: 0;
    }
}

section {
    .HomeContent {
        @include spaceBetween(top);

        font-weight: 500;

        h1 {
            font-size: 90px;
            line-height: 135%;
        }

        p {
            max-width: 100%;
            width: 470px;
            font-size: 20px;
            line-height: 140%;
        }

        .homeText {
            width: 40%;

            .scroll {
                margin-top: 43px;
                transform: rotate(270deg);
                height: 93px;
                @include spaceCenter(center);
                gap: 5px;

                i {
                    transform: rotate(90deg);
                }
            }
        }

        div {
            width: 60%;

            img {
                width: 90%;
            }
        }
    }

    .logoPartners {
        @include spaceCenter(center);
        margin-top: 90px;
        flex-wrap: wrap;
        gap: 73px;
    }

    .headerSection {
        @include spaceBetween(center);
        padding-top: 5%;
        margin-bottom: 38px;
        position: relative;

        .sectionTitle {
            width: 70%;

            h2 {
                color: $FifthColor;
                letter-spacing: 0.15em;
            }

            p.title {
                color: $ThirdColor;
                font-weight: 600;
                font-size: 30px;
                line-height: 135%;
                max-width: 70%;
            }
        }

        .rightContent {
            width: 60%;
            position: relative;

            p {
                font-weight: 500;
                line-height: 144%;
                color: $TextColor3;
                margin-bottom: 29px;
            }

            .ball {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-color: #333333;
                position: absolute;
                z-index: 0;
            }

            button {
                margin-top: 18px;
                position: relative;
                padding-left: 23px;
                z-index: 2;
            }
        }
    }

    .contentBetween {
        @include spaceBetween(top);

        .contentText {
            width: 30%;
            color: $TextColor3;
            font-size: 16px;
            font-weight: 500;
            line-height: 140%;
        }
    }

    .contentCenter {
        @include spaceCenter(center);
        flex-wrap: wrap;

        &.agenceInfo {
            gap: 80px;
            width: 30%;
            background-color: #333333;
            height: 200px;
            text-align: center;

            position: absolute;
            bottom: 5%;
            left: 45%;

            h3 {
                font-size: 40px;
            }

            p {
                color: $TextColor3;
                font-size: 16px;
            }
        }

        &.ourWork {
            gap: 20px;

            div {
                position: relative;
                width: 30%;

                img {
                    position: absolute;
                    left: 5%;
                }

                h2 {
                    position: relative;
                    z-index: 2;
                    text-align: center;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 135%;
                    margin-bottom: 21px;
                    color: #000;
                    color: rgba(0, 0, 0, 1);
                    text-shadow: 1.5px 0 $ThirdColor, -1.5px 0 $ThirdColor, 0 -1.5px $ThirdColor, 1.5px 1.5px $ThirdColor, 1.5px 0 $ThirdColor, -0.75px 0 $ThirdColor, 0 0.75px $ThirdColor, 0.75px 0.75px $ThirdColor;

                    span {
                        font-weight: 600;
                        font-size: 50px;
                        line-height: 135%;
                        text-shadow: none;
                        color: $ThirdColor;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 140%;
                    color: $TextColor3;
                }

                ul {
                    margin-top: 10px;
                    padding-left: 20px;
                }
            }
        }
    }

    .portfolio {
        div.portfolioDivision {
            @include spaceBetween(top);
            margin-bottom: 35px;
            height: 110px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);

            div {
                width: 100%;

                p {
                    font-weight: 500;
                    line-height: 135%;
                    color: $TextColor3;
                    position: relative;
                }

                h3 {
                    padding-left: 3%;
                    font-weight: 600;
                    font-size: 50px;
                    line-height: 135%;
                }
            }

            img {
                margin: auto;
                width: 30px;
                height: 35px;
            }
        }
    }

    .ourTeam {
        @include spaceBetween(center);

        p {
            color: $FifthColor;
            font-weight: 500;
        }
    }

    .feedbackContent {
        width: 100%;
        @include spaceCenter(center);

        .customerFeedback {
            .customerComment {
                border-left: 4px solid $SecondColor;
                padding-left: 29px;
                border-radius: 2px;
                font-style: italic;
                font-weight: 500;
                font-size: 24px;
                line-height: 160%;
                margin-bottom: 28px;
                ;
            }

            .customerInfo {
                @include spaceBetween(center);
                padding-right: 20%;
                gap: 20px;

                p {
                    color: $SecondColor;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }

    }

    .updatesblog {
        margin-top: 57px;
        @include spaceBetween(center);
        flex-wrap: wrap;
        gap: 76px 76px;

        .post {
            width: 42%;
            height: 129px;

            div {
                @include inline(center);
                gap: 8px;

                .theme {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 140%;
                    color: $FifthColor;
                    width: 75px;
                    border-right: 1px solid $FifthColor;
                }

                .time {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 140%;
                    color: $FifthColor;
                    color: $SecondColor;
                }
            }

            .title {
                margin-top: 17px;
                font-weight: 600;
                font-size: 35px;
                line-height: 135%;
            }
        }
    }

    .contactUs {
        width: 100%;
        height: 500px;
        position: relative;
        img {
            width: 100%;
            position: relative;
            left: 5.55%;
        }

        div {
            width: 80%;
            height: 370px;
            @include spaceBetween(center);
            padding: 0% 10%;
            background-color: $ForthColor;
            position: relative;
            bottom: 45%;
            right: 5.55%;
            h2{
                width: 70%;
            }
            h2, span {
                font-weight: 600;
                font-size: 60px;
                line-height: 135%;
                span{
                     color: $SecondColor;
                }
            }
            button{
                width: 250px;
                height: 250px;
                background-color: $SecondColor;
                border-radius: 50%;
                @include spaceCenter(center);                
                @include column();
                img{
                    margin: 0 auto;
                    width: 16px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

footer {
    .bg {
        padding-bottom: 0;
    }

    .footerContent {
        @include spaceBetween(top);
        padding: 0% 2% 5% 2%;

        p {
            width: 30%;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            color: $TextColor3;
        }

        .links {
            margin-top: 32px;

            ul {
                list-style: none;
                font-weight: 500;
                font-size: 15px;
                line-height: 182.5%;
                color: $TextColor3;
            }

            @include spaceCenter(top);
            gap: 10px;
        }
        button{
            margin-top: 30px;
            width: 150px;
            height: 40px;
            background-color: $SecondColor;
            @include spaceCenter(center);
            font-size: 13px;
            gap: 10px;
            i{
                width: 12px;
                img{
                    width: 12px;
                }
            }
        }
    }

    .footerBottom {
        height: 10vh;
        @include spaceBetween(center);
        color: $TextColor3;
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;

        div {
            @include spaceBetween(center);
            gap: 10px;
        }
    }
}